.navigation-item{
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    text-transform: capitalize;
    text-shadow: 1px  black;
    color: #2e0e8c;
   
}

.header{
    background-color: rgb(241, 248, 241);
    height: 75px;
}