.titre{
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 2px 2px #2e0e8c;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cd-timer{
    text-align: right;
    margin: 40px;
    padding-right: 50px;
    padding-bottom: 70px !important;
    font-size: 60px;
    font-weight: 500;
    font-family: "Roboto",sans-serif;;
}
.hero__caption{
    margin-top: 200px;
}
.lettre{
    font-size: 20px !important;
}
.btnn{
    background-color:#2e0e8c ;
    color: white;
    margin-top: 60px;
    margin-left: 120px;
    font-size: 20px;
    font-weight: 500;
    padding: 15px;
    letter-spacing: 2px;
    font-family: "Roboto",sans-serif;;
}